<h3>Data set #1:<br>
Resident population at the beginning of the year (persons by municipality) -<br>
http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=7ed668c3-1fed-4990-8ff9-e1145867bb26
</h3>

In [30]:
#pulling csv data from file
#data sources :
#1.      Resident population at the beginning of the year (persons by municipality) - http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=7ed668c3-1fed-4990-8ff9-e1145867bb26
#2.      Resident population at the beginning of the year (by gender)- http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=e62988b7-de7a-4c72-83b3-9cad28f4f250
#3.      Resident population at the beginning of the year (by age groups)- http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=506b3efb-c5fa-4476-8926-780f95e4881f
#4.      Economic entities in operation at the beginning of the year (Total by employees) - http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=62026300-429b-41af-9712-3070f6ad8868
#5.      Foreign direct investment per capita at the end of the year (2014) - http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=b3226318-f641-4d66-847f-b9df5d05eb30
#6.      Investment in tangible fixed assets at current prices (2014) - http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=061b4c9b-03d7-4303-84b0-2a39bc730e00
#7.      Average earnings (monthly (2015))- http://osp.stat.gov.lt/en/statistiniu-rodikliu-analize?portletFormName=visualization&hash=331ea045-2544-49a2-a495-a99b6758413b
import csv
filename='Source_datasets/Exported matrix table_d1.csv'
with open(filename, 'r') as f:
    data = list(csv.reader(f))
#print (data)
#print (f)
for row_num in range(0,len(data)):
    print (data[row_num])

['\ufeff', '', '', '', 'Resident population at the beginning of the year | persons']
['Total by age', 'Republic of Lithuania', 'Males and females', '2016', '2888558']
['', 'Alytus county', 'Males and females', '2016', '145109']
['', 'Alytus t. mun.', 'Males and females', '2016', '54431']
['', 'Alytus d. mun.', 'Males and females', '2016', '26831']
['', 'Druskininkai mun.', 'Males and females', '2016', '20400']
['', 'Lazdijai d. mun.', 'Males and females', '2016', '20438']
['', 'Varėna d. mun.', 'Males and females', '2016', '23009']
['', 'Kaunas county', 'Males and females', '2016', '577358']
['', 'Birštonas mun.', 'Males and females', '2016', '4330']
['', 'Jonava d. mun.', 'Males and females', '2016', '43196']
['', 'Kaišiadorys d. mun.', 'Males and females', '2016', '31447']
['', 'Kaunas c. mun.', 'Males and females', '2016', '297846']
['', 'Kaunas d. mun.', 'Males and females', '2016', '89516']
['', 'Kėdainiai d. mun.', 'Males and females', '2016', '49053']
['', 'Prienai d. mun.', 'Males and females', '2016', '27676']
['', 'Raseiniai d. mun.', 'Males and females', '2016', '34294']
['', 'Klaipėda county', 'Males and females', '2016', '324618']
['', 'Klaipėda c. mun.', 'Males and females', '2016', '154326']
['', 'Klaipėda d. mun.', 'Males and females', '2016', '53459']
['', 'Kretinga d. mun.', 'Males and females', '2016', '39121']
['', 'Neringa mun.', 'Males and females', '2016', '3020']
['', 'Palanga t. mun.', 'Males and females', '2016', '15542']
['', 'Skuodas d. mun.', 'Males and females', '2016', '18057']
['', 'Šilutė d. mun.', 'Males and females', '2016', '41093']
['', 'Marijampolė county', 'Males and females', '2016', '149077']
['', 'Kalvarija mun.', 'Males and females', '2016', '11307']
['', 'Kazlų Rūda mun.', 'Males and females', '2016', '12379']
['', 'Marijampolė mun.', 'Males and females', '2016', '57103']
['', 'Marijampolė d. mun.', 'Males and females', '2016', '']
['', 'Šakiai d. mun.', 'Males and females', '2016', '29693']
['', 'Vilkaviškis d. mun.', 'Males and females', '2016', '38595']
['', 'Panevėžys county', 'Males and females', '2016', '231001']
['', 'Biržai d. mun.', 'Males and females', '2016', '25418']
['', 'Kupiškis d. mun.', 'Males and females', '2016', '18225']
['', 'Panevėžys c. mun.', 'Males and females', '2016', '93598']
['', 'Panevėžys d. mun.', 'Males and females', '2016', '36705']
['', 'Pasvalys d. mun.', 'Males and females', '2016', '25601']
['', 'Rokiškis d. mun.', 'Males and females', '2016', '31454']
['', 'Šiauliai county', 'Males and females', '2016', '276329']
['', 'Akmenė d. mun.', 'Males and females', '2016', '20824']
['', 'Joniškis d. mun.', 'Males and females', '2016', '23147']
['', 'Kelmė d. mun.', 'Males and females', '2016', '28647']
['', 'Pakruojis d. mun.', 'Males and females', '2016', '20956']
['', 'Radviliškis d. mun.', 'Males and females', '2016', '38253']
['', 'Šiauliai c. mun.', 'Males and females', '2016', '102981']
['', 'Šiauliai d. mun.', 'Males and females', '2016', '41521']
['', 'Tauragė county', 'Males and females', '2016', '101200']
['', 'Jurbarkas d. mun.', 'Males and females', '2016', '27565']
['', 'Pagėgiai mun.', 'Males and females', '2016', '8414']
['', 'Šilalė d. mun.', 'Males and females', '2016', '24433']
['', 'Tauragė d. mun.', 'Males and females', '2016', '40788']
['', 'Telšiai county', 'Males and females', '2016', '141293']
['', 'Mažeikiai d. mun.', 'Males and females', '2016', '54773']
['', 'Plungė d. mun.', 'Males and females', '2016', '35514']
['', 'Rietavas mun.', 'Males and females', '2016', '7947']
['', 'Telšiai d. mun.', 'Males and females', '2016', '43059']
['', 'Utena county', 'Males and females', '2016', '137193']
['', 'Anykščiai d. mun.', 'Males and females', '2016', '25755']
['', 'Ignalina d. mun.', 'Males and females', '2016', '16325']
['', 'Molėtai d. mun.', 'Males and females', '2016', '18877']
['', 'Utena d. mun.', 'Males and females', '2016', '39826']
['', 'Visaginas mun.', 'Males and females', '2016', '19774']
['', 'Zarasai d. mun.', 'Males and females', '2016', '16636']
['', 'Vilnius county', 'Males and females', '2016', '805380']
['', 'Elektrėnai mun.', 'Males and females', '2016', '23959']
['', 'Šalčininkai d. mun.', 'Males and females', '2016', '32305']
['', 'Širvintos d. mun.', 'Males and females', '2016', '16074']
['', 'Švenčionys d. mun.', 'Males and females', '2016', '25180']
['', 'Trakai d. mun.', 'Males and females', '2016', '33020']
['', 'Ukmergė d. mun.', 'Males and females', '2016', '36160']
['', 'Vilnius c. mun.', 'Males and females', '2016', '543493']
['', 'Vilnius d. mun.', 'Males and females', '2016', '95189']

In [31]:
#Permanent remove aggregated rows, as aggregation will take place later e.g. in pivotjs
keysList=['Republic','county']
tobedeletedList=[]
updated_lengh=len(data)
for row_num in range(0,updated_lengh):
    for key in keysList:
        #print (key)
        if key in data[row_num][1]:
            tobedeletedList.append(row_num)

print (tobedeletedList)

for aggregated_row_num in tobedeletedList:
    #print (data[aggregated_row_num])
    del data[aggregated_row_num]
    tobedeletedList[:] = [x - 1 for x in tobedeletedList]
   #print (tobedeletedList)
    
for row_num in range(0,len(data)):
    print (data[row_num])

[1, 2, 8, 17, 25, 32, 39, 47, 52, 57, 64]
['\ufeff', '', '', '', 'Resident population at the beginning of the year | persons']
['', 'Alytus t. mun.', 'Males and females', '2016', '54431']
['', 'Alytus d. mun.', 'Males and females', '2016', '26831']
['', 'Druskininkai mun.', 'Males and females', '2016', '20400']
['', 'Lazdijai d. mun.', 'Males and females', '2016', '20438']
['', 'Varėna d. mun.', 'Males and females', '2016', '23009']
['', 'Birštonas mun.', 'Males and females', '2016', '4330']
['', 'Jonava d. mun.', 'Males and females', '2016', '43196']
['', 'Kaišiadorys d. mun.', 'Males and females', '2016', '31447']
['', 'Kaunas c. mun.', 'Males and females', '2016', '297846']
['', 'Kaunas d. mun.', 'Males and females', '2016', '89516']
['', 'Kėdainiai d. mun.', 'Males and females', '2016', '49053']
['', 'Prienai d. mun.', 'Males and females', '2016', '27676']
['', 'Raseiniai d. mun.', 'Males and females', '2016', '34294']
['', 'Klaipėda c. mun.', 'Males and females', '2016', '154326']
['', 'Klaipėda d. mun.', 'Males and females', '2016', '53459']
['', 'Kretinga d. mun.', 'Males and females', '2016', '39121']
['', 'Neringa mun.', 'Males and females', '2016', '3020']
['', 'Palanga t. mun.', 'Males and females', '2016', '15542']
['', 'Skuodas d. mun.', 'Males and females', '2016', '18057']
['', 'Šilutė d. mun.', 'Males and females', '2016', '41093']
['', 'Kalvarija mun.', 'Males and females', '2016', '11307']
['', 'Kazlų Rūda mun.', 'Males and females', '2016', '12379']
['', 'Marijampolė mun.', 'Males and females', '2016', '57103']
['', 'Marijampolė d. mun.', 'Males and females', '2016', '']
['', 'Šakiai d. mun.', 'Males and females', '2016', '29693']
['', 'Vilkaviškis d. mun.', 'Males and females', '2016', '38595']
['', 'Biržai d. mun.', 'Males and females', '2016', '25418']
['', 'Kupiškis d. mun.', 'Males and females', '2016', '18225']
['', 'Panevėžys c. mun.', 'Males and females', '2016', '93598']
['', 'Panevėžys d. mun.', 'Males and females', '2016', '36705']
['', 'Pasvalys d. mun.', 'Males and females', '2016', '25601']
['', 'Rokiškis d. mun.', 'Males and females', '2016', '31454']
['', 'Akmenė d. mun.', 'Males and females', '2016', '20824']
['', 'Joniškis d. mun.', 'Males and females', '2016', '23147']
['', 'Kelmė d. mun.', 'Males and females', '2016', '28647']
['', 'Pakruojis d. mun.', 'Males and females', '2016', '20956']
['', 'Radviliškis d. mun.', 'Males and females', '2016', '38253']
['', 'Šiauliai c. mun.', 'Males and females', '2016', '102981']
['', 'Šiauliai d. mun.', 'Males and females', '2016', '41521']
['', 'Jurbarkas d. mun.', 'Males and females', '2016', '27565']
['', 'Pagėgiai mun.', 'Males and females', '2016', '8414']
['', 'Šilalė d. mun.', 'Males and females', '2016', '24433']
['', 'Tauragė d. mun.', 'Males and females', '2016', '40788']
['', 'Mažeikiai d. mun.', 'Males and females', '2016', '54773']
['', 'Plungė d. mun.', 'Males and females', '2016', '35514']
['', 'Rietavas mun.', 'Males and females', '2016', '7947']
['', 'Telšiai d. mun.', 'Males and females', '2016', '43059']
['', 'Anykščiai d. mun.', 'Males and females', '2016', '25755']
['', 'Ignalina d. mun.', 'Males and females', '2016', '16325']
['', 'Molėtai d. mun.', 'Males and females', '2016', '18877']
['', 'Utena d. mun.', 'Males and females', '2016', '39826']
['', 'Visaginas mun.', 'Males and females', '2016', '19774']
['', 'Zarasai d. mun.', 'Males and females', '2016', '16636']
['', 'Elektrėnai mun.', 'Males and females', '2016', '23959']
['', 'Šalčininkai d. mun.', 'Males and females', '2016', '32305']
['', 'Širvintos d. mun.', 'Males and females', '2016', '16074']
['', 'Švenčionys d. mun.', 'Males and females', '2016', '25180']
['', 'Trakai d. mun.', 'Males and females', '2016', '33020']
['', 'Ukmergė d. mun.', 'Males and females', '2016', '36160']
['', 'Vilnius c. mun.', 'Males and females', '2016', '543493']
['', 'Vilnius d. mun.', 'Males and females', '2016', '95189']

In [32]:
#add missing aggregation type values 
for row_num in range(1,len(data)):
    data[row_num][0]='Total by age'
for row_num in range(0,len(data)):
    print (data[row_num])

['\ufeff', '', '', '', 'Resident population at the beginning of the year | persons']
['Total by age', 'Alytus t. mun.', 'Males and females', '2016', '54431']
['Total by age', 'Alytus d. mun.', 'Males and females', '2016', '26831']
['Total by age', 'Druskininkai mun.', 'Males and females', '2016', '20400']
['Total by age', 'Lazdijai d. mun.', 'Males and females', '2016', '20438']
['Total by age', 'Varėna d. mun.', 'Males and females', '2016', '23009']
['Total by age', 'Birštonas mun.', 'Males and females', '2016', '4330']
['Total by age', 'Jonava d. mun.', 'Males and females', '2016', '43196']
['Total by age', 'Kaišiadorys d. mun.', 'Males and females', '2016', '31447']
['Total by age', 'Kaunas c. mun.', 'Males and females', '2016', '297846']
['Total by age', 'Kaunas d. mun.', 'Males and females', '2016', '89516']
['Total by age', 'Kėdainiai d. mun.', 'Males and females', '2016', '49053']
['Total by age', 'Prienai d. mun.', 'Males and females', '2016', '27676']
['Total by age', 'Raseiniai d. mun.', 'Males and females', '2016', '34294']
['Total by age', 'Klaipėda c. mun.', 'Males and females', '2016', '154326']
['Total by age', 'Klaipėda d. mun.', 'Males and females', '2016', '53459']
['Total by age', 'Kretinga d. mun.', 'Males and females', '2016', '39121']
['Total by age', 'Neringa mun.', 'Males and females', '2016', '3020']
['Total by age', 'Palanga t. mun.', 'Males and females', '2016', '15542']
['Total by age', 'Skuodas d. mun.', 'Males and females', '2016', '18057']
['Total by age', 'Šilutė d. mun.', 'Males and females', '2016', '41093']
['Total by age', 'Kalvarija mun.', 'Males and females', '2016', '11307']
['Total by age', 'Kazlų Rūda mun.', 'Males and females', '2016', '12379']
['Total by age', 'Marijampolė mun.', 'Males and females', '2016', '57103']
['Total by age', 'Marijampolė d. mun.', 'Males and females', '2016', '']
['Total by age', 'Šakiai d. mun.', 'Males and females', '2016', '29693']
['Total by age', 'Vilkaviškis d. mun.', 'Males and females', '2016', '38595']
['Total by age', 'Biržai d. mun.', 'Males and females', '2016', '25418']
['Total by age', 'Kupiškis d. mun.', 'Males and females', '2016', '18225']
['Total by age', 'Panevėžys c. mun.', 'Males and females', '2016', '93598']
['Total by age', 'Panevėžys d. mun.', 'Males and females', '2016', '36705']
['Total by age', 'Pasvalys d. mun.', 'Males and females', '2016', '25601']
['Total by age', 'Rokiškis d. mun.', 'Males and females', '2016', '31454']
['Total by age', 'Akmenė d. mun.', 'Males and females', '2016', '20824']
['Total by age', 'Joniškis d. mun.', 'Males and females', '2016', '23147']
['Total by age', 'Kelmė d. mun.', 'Males and females', '2016', '28647']
['Total by age', 'Pakruojis d. mun.', 'Males and females', '2016', '20956']
['Total by age', 'Radviliškis d. mun.', 'Males and females', '2016', '38253']
['Total by age', 'Šiauliai c. mun.', 'Males and females', '2016', '102981']
['Total by age', 'Šiauliai d. mun.', 'Males and females', '2016', '41521']
['Total by age', 'Jurbarkas d. mun.', 'Males and females', '2016', '27565']
['Total by age', 'Pagėgiai mun.', 'Males and females', '2016', '8414']
['Total by age', 'Šilalė d. mun.', 'Males and females', '2016', '24433']
['Total by age', 'Tauragė d. mun.', 'Males and females', '2016', '40788']
['Total by age', 'Mažeikiai d. mun.', 'Males and females', '2016', '54773']
['Total by age', 'Plungė d. mun.', 'Males and females', '2016', '35514']
['Total by age', 'Rietavas mun.', 'Males and females', '2016', '7947']
['Total by age', 'Telšiai d. mun.', 'Males and females', '2016', '43059']
['Total by age', 'Anykščiai d. mun.', 'Males and females', '2016', '25755']
['Total by age', 'Ignalina d. mun.', 'Males and females', '2016', '16325']
['Total by age', 'Molėtai d. mun.', 'Males and females', '2016', '18877']
['Total by age', 'Utena d. mun.', 'Males and females', '2016', '39826']
['Total by age', 'Visaginas mun.', 'Males and females', '2016', '19774']
['Total by age', 'Zarasai d. mun.', 'Males and females', '2016', '16636']
['Total by age', 'Elektrėnai mun.', 'Males and females', '2016', '23959']
['Total by age', 'Šalčininkai d. mun.', 'Males and females', '2016', '32305']
['Total by age', 'Širvintos d. mun.', 'Males and females', '2016', '16074']
['Total by age', 'Švenčionys d. mun.', 'Males and females', '2016', '25180']
['Total by age', 'Trakai d. mun.', 'Males and females', '2016', '33020']
['Total by age', 'Ukmergė d. mun.', 'Males and females', '2016', '36160']
['Total by age', 'Vilnius c. mun.', 'Males and females', '2016', '543493']
['Total by age', 'Vilnius d. mun.', 'Males and females', '2016', '95189']

In [33]:
#add missing country values
for row_num in range(1,len(data)):
    data[row_num].append('Republic of Lithuania')
for row_num in range(0,len(data)):
    print (data[row_num])

['\ufeff', '', '', '', 'Resident population at the beginning of the year | persons']
['Total by age', 'Alytus t. mun.', 'Males and females', '2016', '54431', 'Republic of Lithuania']
['Total by age', 'Alytus d. mun.', 'Males and females', '2016', '26831', 'Republic of Lithuania']
['Total by age', 'Druskininkai mun.', 'Males and females', '2016', '20400', 'Republic of Lithuania']
['Total by age', 'Lazdijai d. mun.', 'Males and females', '2016', '20438', 'Republic of Lithuania']
['Total by age', 'Varėna d. mun.', 'Males and females', '2016', '23009', 'Republic of Lithuania']
['Total by age', 'Birštonas mun.', 'Males and females', '2016', '4330', 'Republic of Lithuania']
['Total by age', 'Jonava d. mun.', 'Males and females', '2016', '43196', 'Republic of Lithuania']
['Total by age', 'Kaišiadorys d. mun.', 'Males and females', '2016', '31447', 'Republic of Lithuania']
['Total by age', 'Kaunas c. mun.', 'Males and females', '2016', '297846', 'Republic of Lithuania']
['Total by age', 'Kaunas d. mun.', 'Males and females', '2016', '89516', 'Republic of Lithuania']
['Total by age', 'Kėdainiai d. mun.', 'Males and females', '2016', '49053', 'Republic of Lithuania']
['Total by age', 'Prienai d. mun.', 'Males and females', '2016', '27676', 'Republic of Lithuania']
['Total by age', 'Raseiniai d. mun.', 'Males and females', '2016', '34294', 'Republic of Lithuania']
['Total by age', 'Klaipėda c. mun.', 'Males and females', '2016', '154326', 'Republic of Lithuania']
['Total by age', 'Klaipėda d. mun.', 'Males and females', '2016', '53459', 'Republic of Lithuania']
['Total by age', 'Kretinga d. mun.', 'Males and females', '2016', '39121', 'Republic of Lithuania']
['Total by age', 'Neringa mun.', 'Males and females', '2016', '3020', 'Republic of Lithuania']
['Total by age', 'Palanga t. mun.', 'Males and females', '2016', '15542', 'Republic of Lithuania']
['Total by age', 'Skuodas d. mun.', 'Males and females', '2016', '18057', 'Republic of Lithuania']
['Total by age', 'Šilutė d. mun.', 'Males and females', '2016', '41093', 'Republic of Lithuania']
['Total by age', 'Kalvarija mun.', 'Males and females', '2016', '11307', 'Republic of Lithuania']
['Total by age', 'Kazlų Rūda mun.', 'Males and females', '2016', '12379', 'Republic of Lithuania']
['Total by age', 'Marijampolė mun.', 'Males and females', '2016', '57103', 'Republic of Lithuania']
['Total by age', 'Marijampolė d. mun.', 'Males and females', '2016', '', 'Republic of Lithuania']
['Total by age', 'Šakiai d. mun.', 'Males and females', '2016', '29693', 'Republic of Lithuania']
['Total by age', 'Vilkaviškis d. mun.', 'Males and females', '2016', '38595', 'Republic of Lithuania']
['Total by age', 'Biržai d. mun.', 'Males and females', '2016', '25418', 'Republic of Lithuania']
['Total by age', 'Kupiškis d. mun.', 'Males and females', '2016', '18225', 'Republic of Lithuania']
['Total by age', 'Panevėžys c. mun.', 'Males and females', '2016', '93598', 'Republic of Lithuania']
['Total by age', 'Panevėžys d. mun.', 'Males and females', '2016', '36705', 'Republic of Lithuania']
['Total by age', 'Pasvalys d. mun.', 'Males and females', '2016', '25601', 'Republic of Lithuania']
['Total by age', 'Rokiškis d. mun.', 'Males and females', '2016', '31454', 'Republic of Lithuania']
['Total by age', 'Akmenė d. mun.', 'Males and females', '2016', '20824', 'Republic of Lithuania']
['Total by age', 'Joniškis d. mun.', 'Males and females', '2016', '23147', 'Republic of Lithuania']
['Total by age', 'Kelmė d. mun.', 'Males and females', '2016', '28647', 'Republic of Lithuania']
['Total by age', 'Pakruojis d. mun.', 'Males and females', '2016', '20956', 'Republic of Lithuania']
['Total by age', 'Radviliškis d. mun.', 'Males and females', '2016', '38253', 'Republic of Lithuania']
['Total by age', 'Šiauliai c. mun.', 'Males and females', '2016', '102981', 'Republic of Lithuania']
['Total by age', 'Šiauliai d. mun.', 'Males and females', '2016', '41521', 'Republic of Lithuania']
['Total by age', 'Jurbarkas d. mun.', 'Males and females', '2016', '27565', 'Republic of Lithuania']
['Total by age', 'Pagėgiai mun.', 'Males and females', '2016', '8414', 'Republic of Lithuania']
['Total by age', 'Šilalė d. mun.', 'Males and females', '2016', '24433', 'Republic of Lithuania']
['Total by age', 'Tauragė d. mun.', 'Males and females', '2016', '40788', 'Republic of Lithuania']
['Total by age', 'Mažeikiai d. mun.', 'Males and females', '2016', '54773', 'Republic of Lithuania']
['Total by age', 'Plungė d. mun.', 'Males and females', '2016', '35514', 'Republic of Lithuania']
['Total by age', 'Rietavas mun.', 'Males and females', '2016', '7947', 'Republic of Lithuania']
['Total by age', 'Telšiai d. mun.', 'Males and females', '2016', '43059', 'Republic of Lithuania']
['Total by age', 'Anykščiai d. mun.', 'Males and females', '2016', '25755', 'Republic of Lithuania']
['Total by age', 'Ignalina d. mun.', 'Males and females', '2016', '16325', 'Republic of Lithuania']
['Total by age', 'Molėtai d. mun.', 'Males and females', '2016', '18877', 'Republic of Lithuania']
['Total by age', 'Utena d. mun.', 'Males and females', '2016', '39826', 'Republic of Lithuania']
['Total by age', 'Visaginas mun.', 'Males and females', '2016', '19774', 'Republic of Lithuania']
['Total by age', 'Zarasai d. mun.', 'Males and females', '2016', '16636', 'Republic of Lithuania']
['Total by age', 'Elektrėnai mun.', 'Males and females', '2016', '23959', 'Republic of Lithuania']
['Total by age', 'Šalčininkai d. mun.', 'Males and females', '2016', '32305', 'Republic of Lithuania']
['Total by age', 'Širvintos d. mun.', 'Males and females', '2016', '16074', 'Republic of Lithuania']
['Total by age', 'Švenčionys d. mun.', 'Males and females', '2016', '25180', 'Republic of Lithuania']
['Total by age', 'Trakai d. mun.', 'Males and females', '2016', '33020', 'Republic of Lithuania']
['Total by age', 'Ukmergė d. mun.', 'Males and females', '2016', '36160', 'Republic of Lithuania']
['Total by age', 'Vilnius c. mun.', 'Males and females', '2016', '543493', 'Republic of Lithuania']
['Total by age', 'Vilnius d. mun.', 'Males and females', '2016', '95189', 'Republic of Lithuania']

In [34]:
#add missing county values
for row_num in range(1,6):
        data[row_num].append('Alytus county')
for row_num in range(6,14):
        data[row_num].append('Kaunas county')
for row_num in range(14,21):
        data[row_num].append('Klaipeda county')
for row_num in range(21,27):
        data[row_num].append('Marijampole county')
for row_num in range(27,33):
        data[row_num].append('Panevezys county')
for row_num in range(33,40):
        data[row_num].append('Siauliai county')
for row_num in range(40,44):
        data[row_num].append('Taurage county')
for row_num in range(44,48):
        data[row_num].append('Telsiai county')
for row_num in range(48,54):
        data[row_num].append('Utena county')
for row_num in range(54,62):
        data[row_num].append('Vilnius county')

        
for row_num in range(0,len(data)):
    print (data[row_num])

['\ufeff', '', '', '', 'Resident population at the beginning of the year | persons']
['Total by age', 'Alytus t. mun.', 'Males and females', '2016', '54431', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Alytus d. mun.', 'Males and females', '2016', '26831', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Druskininkai mun.', 'Males and females', '2016', '20400', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Lazdijai d. mun.', 'Males and females', '2016', '20438', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Varėna d. mun.', 'Males and females', '2016', '23009', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Birštonas mun.', 'Males and females', '2016', '4330', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Jonava d. mun.', 'Males and females', '2016', '43196', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kaišiadorys d. mun.', 'Males and females', '2016', '31447', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kaunas c. mun.', 'Males and females', '2016', '297846', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kaunas d. mun.', 'Males and females', '2016', '89516', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kėdainiai d. mun.', 'Males and females', '2016', '49053', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Prienai d. mun.', 'Males and females', '2016', '27676', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Raseiniai d. mun.', 'Males and females', '2016', '34294', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Klaipėda c. mun.', 'Males and females', '2016', '154326', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Klaipėda d. mun.', 'Males and females', '2016', '53459', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Kretinga d. mun.', 'Males and females', '2016', '39121', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Neringa mun.', 'Males and females', '2016', '3020', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Palanga t. mun.', 'Males and females', '2016', '15542', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Skuodas d. mun.', 'Males and females', '2016', '18057', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Šilutė d. mun.', 'Males and females', '2016', '41093', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Kalvarija mun.', 'Males and females', '2016', '11307', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Kazlų Rūda mun.', 'Males and females', '2016', '12379', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Marijampolė mun.', 'Males and females', '2016', '57103', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Marijampolė d. mun.', 'Males and females', '2016', '', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Šakiai d. mun.', 'Males and females', '2016', '29693', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Vilkaviškis d. mun.', 'Males and females', '2016', '38595', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Biržai d. mun.', 'Males and females', '2016', '25418', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Kupiškis d. mun.', 'Males and females', '2016', '18225', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Panevėžys c. mun.', 'Males and females', '2016', '93598', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Panevėžys d. mun.', 'Males and females', '2016', '36705', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Pasvalys d. mun.', 'Males and females', '2016', '25601', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Rokiškis d. mun.', 'Males and females', '2016', '31454', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Akmenė d. mun.', 'Males and females', '2016', '20824', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Joniškis d. mun.', 'Males and females', '2016', '23147', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Kelmė d. mun.', 'Males and females', '2016', '28647', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Pakruojis d. mun.', 'Males and females', '2016', '20956', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Radviliškis d. mun.', 'Males and females', '2016', '38253', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Šiauliai c. mun.', 'Males and females', '2016', '102981', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Šiauliai d. mun.', 'Males and females', '2016', '41521', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Jurbarkas d. mun.', 'Males and females', '2016', '27565', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Pagėgiai mun.', 'Males and females', '2016', '8414', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Šilalė d. mun.', 'Males and females', '2016', '24433', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Tauragė d. mun.', 'Males and females', '2016', '40788', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Mažeikiai d. mun.', 'Males and females', '2016', '54773', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Plungė d. mun.', 'Males and females', '2016', '35514', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Rietavas mun.', 'Males and females', '2016', '7947', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Telšiai d. mun.', 'Males and females', '2016', '43059', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Anykščiai d. mun.', 'Males and females', '2016', '25755', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Ignalina d. mun.', 'Males and females', '2016', '16325', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Molėtai d. mun.', 'Males and females', '2016', '18877', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Utena d. mun.', 'Males and females', '2016', '39826', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Visaginas mun.', 'Males and females', '2016', '19774', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Zarasai d. mun.', 'Males and females', '2016', '16636', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Elektrėnai mun.', 'Males and females', '2016', '23959', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Šalčininkai d. mun.', 'Males and females', '2016', '32305', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Širvintos d. mun.', 'Males and females', '2016', '16074', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Švenčionys d. mun.', 'Males and females', '2016', '25180', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Trakai d. mun.', 'Males and females', '2016', '33020', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Ukmergė d. mun.', 'Males and females', '2016', '36160', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Vilnius c. mun.', 'Males and females', '2016', '543493', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Vilnius d. mun.', 'Males and females', '2016', '95189', 'Republic of Lithuania', 'Vilnius county']

In [35]:
#Adding collumn headers istead of the melformed header
headerList=['Age','Municipality','Sex','Time_period','Resident_population_at_the_beginning_of_the_year_persons','Country','County']
del data[0]
data.insert( 0, headerList)
for row_num in range(0,len(data)):
    print (data[row_num])

['Age', 'Municipality', 'Sex', 'Time_period', 'Resident_population_at_the_beginning_of_the_year_persons', 'Country', 'County']
['Total by age', 'Alytus t. mun.', 'Males and females', '2016', '54431', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Alytus d. mun.', 'Males and females', '2016', '26831', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Druskininkai mun.', 'Males and females', '2016', '20400', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Lazdijai d. mun.', 'Males and females', '2016', '20438', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Varėna d. mun.', 'Males and females', '2016', '23009', 'Republic of Lithuania', 'Alytus county']
['Total by age', 'Birštonas mun.', 'Males and females', '2016', '4330', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Jonava d. mun.', 'Males and females', '2016', '43196', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kaišiadorys d. mun.', 'Males and females', '2016', '31447', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kaunas c. mun.', 'Males and females', '2016', '297846', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kaunas d. mun.', 'Males and females', '2016', '89516', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Kėdainiai d. mun.', 'Males and females', '2016', '49053', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Prienai d. mun.', 'Males and females', '2016', '27676', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Raseiniai d. mun.', 'Males and females', '2016', '34294', 'Republic of Lithuania', 'Kanuas county']
['Total by age', 'Klaipėda c. mun.', 'Males and females', '2016', '154326', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Klaipėda d. mun.', 'Males and females', '2016', '53459', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Kretinga d. mun.', 'Males and females', '2016', '39121', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Neringa mun.', 'Males and females', '2016', '3020', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Palanga t. mun.', 'Males and females', '2016', '15542', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Skuodas d. mun.', 'Males and females', '2016', '18057', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Šilutė d. mun.', 'Males and females', '2016', '41093', 'Republic of Lithuania', 'Klaipeda county']
['Total by age', 'Kalvarija mun.', 'Males and females', '2016', '11307', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Kazlų Rūda mun.', 'Males and females', '2016', '12379', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Marijampolė mun.', 'Males and females', '2016', '57103', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Marijampolė d. mun.', 'Males and females', '2016', '', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Šakiai d. mun.', 'Males and females', '2016', '29693', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Vilkaviškis d. mun.', 'Males and females', '2016', '38595', 'Republic of Lithuania', 'Marijampole county']
['Total by age', 'Biržai d. mun.', 'Males and females', '2016', '25418', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Kupiškis d. mun.', 'Males and females', '2016', '18225', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Panevėžys c. mun.', 'Males and females', '2016', '93598', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Panevėžys d. mun.', 'Males and females', '2016', '36705', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Pasvalys d. mun.', 'Males and females', '2016', '25601', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Rokiškis d. mun.', 'Males and females', '2016', '31454', 'Republic of Lithuania', 'Panevezys county']
['Total by age', 'Akmenė d. mun.', 'Males and females', '2016', '20824', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Joniškis d. mun.', 'Males and females', '2016', '23147', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Kelmė d. mun.', 'Males and females', '2016', '28647', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Pakruojis d. mun.', 'Males and females', '2016', '20956', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Radviliškis d. mun.', 'Males and females', '2016', '38253', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Šiauliai c. mun.', 'Males and females', '2016', '102981', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Šiauliai d. mun.', 'Males and females', '2016', '41521', 'Republic of Lithuania', 'Siauliai county']
['Total by age', 'Jurbarkas d. mun.', 'Males and females', '2016', '27565', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Pagėgiai mun.', 'Males and females', '2016', '8414', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Šilalė d. mun.', 'Males and females', '2016', '24433', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Tauragė d. mun.', 'Males and females', '2016', '40788', 'Republic of Lithuania', 'Taurage county']
['Total by age', 'Mažeikiai d. mun.', 'Males and females', '2016', '54773', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Plungė d. mun.', 'Males and females', '2016', '35514', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Rietavas mun.', 'Males and females', '2016', '7947', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Telšiai d. mun.', 'Males and females', '2016', '43059', 'Republic of Lithuania', 'Telsiai county']
['Total by age', 'Anykščiai d. mun.', 'Males and females', '2016', '25755', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Ignalina d. mun.', 'Males and females', '2016', '16325', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Molėtai d. mun.', 'Males and females', '2016', '18877', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Utena d. mun.', 'Males and females', '2016', '39826', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Visaginas mun.', 'Males and females', '2016', '19774', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Zarasai d. mun.', 'Males and females', '2016', '16636', 'Republic of Lithuania', 'Utena county']
['Total by age', 'Elektrėnai mun.', 'Males and females', '2016', '23959', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Šalčininkai d. mun.', 'Males and females', '2016', '32305', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Širvintos d. mun.', 'Males and females', '2016', '16074', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Švenčionys d. mun.', 'Males and females', '2016', '25180', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Trakai d. mun.', 'Males and females', '2016', '33020', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Ukmergė d. mun.', 'Males and females', '2016', '36160', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Vilnius c. mun.', 'Males and females', '2016', '543493', 'Republic of Lithuania', 'Vilnius county']
['Total by age', 'Vilnius d. mun.', 'Males and females', '2016', '95189', 'Republic of Lithuania', 'Vilnius county']

In [36]:
import csv
#print (data)
with open("Ready_datasets/readyDataSet.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(data)

<h4>Construct query</h4>
<p>
RPBYmunicipality_Query=PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>\n\ <br>
PREFIX OGI: <http://ogi.eu/#>\n\<br>
PREFIX qb: <http://purl.org/linked-data/cube#>\n\<br>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n\<br>
CONSTRUCT{\n\<br>
		?observation a qb:Observation;\n\<br>
				OGI:age ?Age;\n\<br>
				OGI:municipality ?Municipality;\n\<br>
				OGI:sex ?Sex;\n\<br>
				OGI:time_period ?Time_period;\n\<br>
				OGI:resident_population_at_the_beginning_of_the_year_persons<br> ?Resident_population_at_the_beginning_of_the_year_persons;\n\<br>
				OGI:counrty ?Country;\n\<br>
				OGI:county ?County;\n\<br>
				qb:dataSet OGI:RPBYmunicipality_ds;\n\<br>
				.\n\<br>
	}\n\<br>
WHERE {\n\<br>
BIND (uri(CONCAT('http://ogi.eu/#observations_',StrUUID())) AS ?observation).\n\<br>
}\n\<br>
</p>